@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0d17;
}

h1,
h2,
h3,
h4,
.subheading_one,
.subheading_two {
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

h5,
h6,
span .nav_text {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.725px;
  color: #d0d6f9;
  text-transform: uppercase;
}

h1 {
  font-size: 150px;
  line-height: 172px;
}

h2 {
  font-size: 100px;
  line-height: 115px;
}

@media (max-width: 767px) {
  h2 {
    font-size: 56px;
    line-height: 64px;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 80px;
    line-height: 92px;
  }
}

h3 {
  font-size: 56px;
  line-height: 64px;
}

h4 {
  font-size: 32px;
  line-height: 37px;
}

h5,
h6 {
  font-size: 28px;
  line-height: 34px;
}

.subheading_one {
  font-size: 28px;
  line-height: 32px;
}

.subheading_two {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  color: #d0d6f9;
}

.nav_text {
  font-size: 16px;
  line-height: 19px;
}

p {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}

.navbar {
  min-height: 96px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  color: #fff;
}

@media (max-width: 767px) {
  .navbar {
    background: transparent;
    backdrop-filter: unset;
  }
}

.navbar ul {
  overflow: hidden;
}

.navbar ul a {
  display: block;
  padding: 38px 16px;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 2.7px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.navbar ul a:hover {
  border-bottom: 3px solid #fff;
}

.active {
  border-bottom: 3px solid #fff !important;
  color: #fff !important;
}

.navbar span {
  font-weight: 700;
  padding-right: 11px;
}

@media (max-width: 1279px) {
  .navbar span {
    display: none;
  }
}

.navbar_divider {
  height: 1px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
  width: 100%;
  z-index: 1;
}

@media (max-width: 1400px) {
  .navbar_divider {
    z-index: 0;
  }
}

.navbar_inner ul {
  overflow: hidden;
  overflow-x: scroll;
}

.navbar_inner ul a {
  display: block;
  padding: 12px 0px;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  color: #d0d6f9;
}

.navbar_inner ul a:hover {
  border-bottom: 3px solid #fff;
}

.mobile_menu {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 80%;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.mobile_menu_open {
  transform: translateX(0);
}

.circle-container {
  position: relative;
}

.outer-circle {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner-circle {
  position: relative;
  z-index: 2;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #d0d6f9;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

.overlay::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
